body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f8;
    margin: 10px;
    color: #333;
}

h1, h2, h3 {
    color: #003366;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

img {
    border-radius: 8px;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
}

th {
    background-color: #003366;
    color: white;
}

td, th {
    padding: 10px;
    text-align: center;
}

a {
    color: #003366;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
