form {
    background-color: white;
    padding: 20px;
    width: 60%;
    margin: auto;
    border-radius: 10px;
}

input, select, textarea {
    width: 80%;
    padding: 8px;
    margin-top: 5px;
}

input[type="submit"], input[type="reset"] {
    width: 40%;
    background-color: #003366;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #ffcc00;
    color: #003366;
}
