h1 {
    background-color: #003366;
    color: white;
    padding: 15px;
}

ul {
    background-color: white;
    padding: 15px;
    width: 50%;
}

ol {
    background-color: #e6f2ff;
    padding: 15px;
    width: 50%;
}
